#! /usr/bin/make -f
# Dummy line to let emacs know this is a -*- Makefile -*-
# debian/rules for libxosd & friends

# Don't forget to update!
LIBRARY_VERSION=0

checkdir=test -f debian/control 
checkroot=test `id -u` -eq 0

build: build-stamp
build-stamp:
	$(checkdir)

	$(MAKE)

	touch build-stamp

clean:
	$(checkdir)
	$(checkroot)
	rm -f build-stamp
	-$(MAKE) clean

	-rm -fr debian/tmp debian/tmp-dev debian/tmp-bin debian/tmp-xmms
	-rm -fr debian/files debian/substvars debian/xmms.substvars
	-rm -fr debian/bin.substvars

install: build
	$(checkdir)
	$(checkroot)

# Library package
	install -d -m 755 -o root -g root debian/tmp/DEBIAN
	install -d -m 755 -o root -g root debian/tmp/usr/lib
	install -d -m 755 -o root -g root debian/tmp/usr/share/doc/libxosd0

	install -s -o root -g root -m 644 \
		libxosd.so \
		debian/tmp/usr/lib/libxosd.so.$(LIBRARY_VERSION).0
	ln -s libxosd.so.$(LIBRARY_VERSION).0 \
		debian/tmp/usr/lib/libxosd.so.$(LIBRARY_VERSION)

# Development package
	install -d -m 755 -o root -g root debian/tmp-dev/DEBIAN
	install -d -m 755 -o root -g root debian/tmp-dev/usr/include 
	install -d -m 755 -o root -g root debian/tmp-dev/usr/lib
	install -d -m 755 -o root -g root debian/tmp-dev/usr/share/man/man3
	install -d -m 755 -o root -g root			\
		debian/tmp-dev/usr/share/doc/libxosd-dev
	install -d -m 755 -o root -g root				\
		debian/tmp-dev/usr/share/doc/libxosd-dev/examples

	install -o root -g root -m 644 xosd.h	\
		debian/tmp-dev/usr/include

	install -o root -g root -m 644 testprog.c			\
		debian/tmp-dev/usr/share/doc/libxosd-dev/examples

	install -o root -g root -m 644 xosd.3	\
		debian/tmp-dev/usr/share/man/man3/xosd.3xosd
	gzip -9f debian/tmp-dev/usr/share/man/man3/xosd.3xosd

	ln -s libxosd.so.$(LIBRARY_VERSION)		\
		debian/tmp-dev/usr/lib/libxosd.so
	install -o root -g root -m 644 libxosd.a	\
		debian/tmp-dev/usr/lib/libxosd.a

# Binary package
	install -d -m 755 -o root -g root debian/tmp-bin/DEBIAN
	install -d -m 755 -o root -g root debian/tmp-bin/usr/bin
	install -d -m 755 -o root -g root debian/tmp-bin/usr/share/man/man1
	install -d -m 755 -o root -g root debian/tmp-bin/usr/share/doc/xosd-bin

	install -o root -g root -m 755 -s osd_cat debian/tmp-bin/usr/bin
	install -o root -g root -m 644 osd_cat.1	\
		debian/tmp-bin/usr/share/man/man1/osd_cat.1xosd
	gzip -9f debian/tmp-bin/usr/share/man/man1/osd_cat.1xosd

# XMMS plugin package
	install -d -m 755 -o root -g root debian/tmp-xmms/DEBIAN
	install -d -m 755 -o root -g root 		\
		debian/tmp-xmms/usr/lib/xmms/General
	install -d -m 755 -o root -g root			\
		debian/tmp-xmms/usr/share/doc/xmms-osd-plugin

	install -s -o root -g root -m 644 libxmms_osd.so \
		debian/tmp-xmms/usr/lib/xmms/General

# Create the packages
binary: binary-arch binary-indep

# No independant parts..
binary-indep: build install
	@echo "No architecture-independant binaries"

binary-arch: build install
	$(checkdir)
	$(checkroot)

# Install the changelog, changelog.Debian and copyright files
	install -m 644 -o root -g root ChangeLog 			\
		debian/tmp/usr/share/doc/libxosd0/changelog
	install -m 644 -o root -g root ChangeLog			\
		debian/tmp-dev/usr/share/doc/libxosd-dev/changelog
	install -m 644 -o root -g root ChangeLog			\
		debian/tmp-bin/usr/share/doc/xosd-bin/changelog
	install -m 644 -o root -g root ChangeLog			\
		debian/tmp-xmms/usr/share/doc/xmms-osd-plugin/changelog
	
	install -m 644 -o root -g root README 			\
		debian/tmp/usr/share/doc/libxosd0/README
	install -m 644 -o root -g root README			\
		debian/tmp-dev/usr/share/doc/libxosd-dev/README
	install -m 644 -o root -g root README			\
		debian/tmp-bin/usr/share/doc/xosd-bin/README
	install -m 644 -o root -g root README			\
		debian/tmp-xmms/usr/share/doc/xmms-osd-plugin/README

	install -m 644 -o root -g root debian/copyright		\
		debian/tmp/usr/share/doc/libxosd0
	install -m 644 -o root -g root debian/copyright		\
		debian/tmp-dev/usr/share/doc/libxosd-dev
	install -m 644 -o root -g root debian/copyright		\
		debian/tmp-bin/usr/share/doc/xosd-bin
	install -m 644 -o root -g root debian/copyright		\
		debian/tmp-xmms/usr/share/doc/xmms-osd-plugin

	install -m 644 -o root -g root debian/changelog			  \
		debian/tmp/usr/share/doc/libxosd0/changelog.Debian
	install -m 644 -o root -g root debian/changelog			  \
		debian/tmp-dev/usr/share/doc/libxosd-dev/changelog.Debian
	install -m 644 -o root -g root debian/changelog			  \
		debian/tmp-bin/usr/share/doc/xosd-bin/changelog.Debian
	install -m 644 -o root -g root debian/changelog			  \
		debian/tmp-xmms/usr/share/doc/xmms-osd-plugin/changelog.Debian

# gzip the changelogs
	gzip -9f debian/tmp/usr/share/doc/libxosd0/changelog.Debian
	gzip -9f debian/tmp/usr/share/doc/libxosd0/changelog

	gzip -9f debian/tmp-dev/usr/share/doc/libxosd-dev/changelog.Debian
	gzip -9f debian/tmp-dev/usr/share/doc/libxosd-dev/changelog

	gzip -9f debian/tmp-bin/usr/share/doc/xosd-bin/changelog.Debian
	gzip -9f debian/tmp-bin/usr/share/doc/xosd-bin/changelog

	gzip -9f debian/tmp-xmms/usr/share/doc/xmms-osd-plugin/changelog.Debian
	gzip -9f debian/tmp-xmms/usr/share/doc/xmms-osd-plugin/changelog

# And the READMEs
	gzip -9f debian/tmp/usr/share/doc/libxosd0/README
	gzip -9f debian/tmp-dev/usr/share/doc/libxosd-dev/README
	gzip -9f debian/tmp-bin/usr/share/doc/xosd-bin/README
	gzip -9f debian/tmp-xmms/usr/share/doc/xmms-osd-plugin/README

# Install postinst/prerm scripts and other assorted stuff
	sed -e 's/::PKG::/libxosd0/g'         < debian/prerm.template    > debian/tmp/DEBIAN/prerm
	sed -e 's/::PKG::/libxosd0/g'         < debian/postinst.template > debian/tmp/DEBIAN/postinst
	cat debian/postinst.libxosd >> debian/tmp/DEBIAN/postinst

	sed -e 's/::PKG::/libxosd-dev/g'     < debian/prerm.template    > debian/tmp-dev/DEBIAN/prerm
	sed -e 's/::PKG::/libxosd-dev/g'     < debian/postinst.template > debian/tmp-dev/DEBIAN/postinst

	sed -e 's/::PKG::/xosd-bin/g'     < debian/prerm.template    > debian/tmp-bin/DEBIAN/prerm
	sed -e 's/::PKG::/xosd-bin/g'     < debian/postinst.template > debian/tmp-bin/DEBIAN/postinst

	sed -e 's/::PKG::/xmms-osd-plugin/g' < debian/prerm.template    > debian/tmp-xmms/DEBIAN/prerm
	sed -e 's/::PKG::/xmms-osd-plugin/g' < debian/postinst.template > debian/tmp-xmms/DEBIAN/postinst

	chmod 755 debian/tmp/DEBIAN/postinst debian/tmp/DEBIAN/prerm	     \
		debian/tmp-dev/DEBIAN/postinst debian/tmp-dev/DEBIAN/prerm   \
		debian/tmp-bin/DEBIAN/postinst debian/tmp-bin/DEBIAN/prerm   \
		debian/tmp-xmms/DEBIAN/postinst debian/tmp-xmms/DEBIAN/prerm

# We provide shared libraries:
	install -m 644 -o root -g root debian/shlibs debian/tmp/DEBIAN/shlibs

# Build the packages
	dpkg-shlibdeps -Tdebian/substvars				\
		debian/tmp/usr/lib/libxosd.so.$(LIBRARY_VERSION).0

	dpkg-shlibdeps -Tdebian/xmms.substvars			\
		debian/tmp-xmms/usr/lib/xmms/General/libxmms_osd.so

	dpkg-shlibdeps -Tdebian/bin.substvars	\
		debian/tmp-bin/usr/bin/osd_cat

	dpkg-gencontrol -plibxosd0 -isp -Pdebian/tmp -Tdebian/substvars
	dpkg-gencontrol -plibxosd-dev -isp -Pdebian/tmp-dev
	dpkg-gencontrol -pxosd-bin -isp -Pdebian/tmp-bin		\
		-Tdebian/bin.substvars
	dpkg-gencontrol -pxmms-osd-plugin -isp -Pdebian/tmp-xmms 	\
		-Tdebian/xmms.substvars

	dpkg --build debian/tmp ..
	dpkg --build debian/tmp-dev ..
	dpkg --build debian/tmp-bin ..
	dpkg --build debian/tmp-xmms ..
